/*************** */
/*** Variables */
/*************** */
/*************** */
/*** mixins **** */
/*************** */
/*************** */
/*** Global **** */
/*************** */
h1, h2, h3, h4, h5, h6 {
  color: #999966;
  margin: 0; }

#all {
  background: none repeat scroll 0 0 black;
  float: left;
  margin: 7px;
  padding: 2px 0 14px;
  position: absolute;
  top: 90px;
  width: 835px;
  font-family: Arial;
  font-size: 12px;
  color: #6f6f6f; }

.clear {
  clear: both;
  padding: 0;
  margin: 0; }

.left {
  float: left; }

.right {
  float: right; }

.spacer30 {
  height: 30px; }

.spacer22 {
  height: 22px; }

/***************** */
/*** Elements **** */
/***************** */
.socialbar {
  width: 290px;
  height: 20px;
  margin-bottom: 10px; }
  .socialbar .facebook-container {
    float: left;
    width: 130px; }
  .socialbar .googleplus-container {
    float: left;
    width: 70px; }
  .socialbar .twitter-container {
    float: left;
    width: 90px; }

.pagination {
  float: right;
  height: 100%;
  width: 200px;
  text-align: right; }
  .pagination .text {
    display: inline-block;
    vertical-align: text-bottom;
    height: 19px; }
  .pagination .buttonBack {
    width: 19px;
    height: 19px;
    background: url("../img/pix_back.png") no-repeat;
    display: inline-block; }
  .pagination .buttonForward {
    width: 19px;
    height: 19px;
    background: url("../img/pix_next.png") no-repeat;
    display: inline-block; }

.button a {
  display: block;
  height: 100%;
  width: 100%; }

/****************** */
/*** Structure **** */
/****************** */
#partypixContainer .leftcol {
  width: 480px;
  float: left;
  padding-left: 10px; }
  #partypixContainer .leftcol .bigGallery .galleryHeader {
    width: 100%;
    height: 19px;
    margin: 0 0 10px 0; }
    #partypixContainer .leftcol .bigGallery .galleryHeader .back {
      background: url("../img/back.png") no-repeat;
      padding-left: 20px;
      float: left; }
      #partypixContainer .leftcol .bigGallery .galleryHeader .back a {
        text-decoration: none; }
  #partypixContainer .leftcol .galleryThumbs .gallery {
    margin-bottom: 16px; }
    #partypixContainer .leftcol .galleryThumbs .gallery .thumb {
      width: 117px;
      height: 85px;
      margin: 0 0 10px 4px;
      float: left; }
      #partypixContainer .leftcol .galleryThumbs .gallery .thumb img {
        width: 117px;
        height: 85px; }
    #partypixContainer .leftcol .galleryThumbs .gallery .thumb:first-child {
      margin-left: 0px; }
#partypixContainer .rightcol {
  width: 310px;
  float: left;
  margin-left: 10px; }
  #partypixContainer .rightcol .box {
    width: 290px;
    min-height: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 0 10px 0; }
  #partypixContainer .rightcol .box.galDetail {
    position: relative; }
    #partypixContainer .rightcol .box.galDetail .downloadinfo {
      float: left; }
    #partypixContainer .rightcol .box.galDetail .button {
      background: url("../img/btn_download.png") no-repeat;
      width: 107px;
      height: 20px;
      position: absolute;
      bottom: 10px;
      right: 10px; }
  #partypixContainer .rightcol .box.abuse .left {
    width: 95px; }
  #partypixContainer .rightcol .box.abuse .right {
    width: 195px; }
  #partypixContainer .rightcol .box.abuse .img {
    float: left; }
    #partypixContainer .rightcol .box.abuse .img img {
      width: 94px;
      height: 70px; }
  #partypixContainer .rightcol .box.abuse .text {
    margin: 0 10px 10px 10px; }
  #partypixContainer .rightcol .box.abuse .button {
    width: 107px;
    height: 20px;
    margin: 10px 0 0 0;
    float: right;
    background: url("../img/btn_abuse.png") no-repeat; }
  #partypixContainer .rightcol .box.abo .headline {
    float: left;
    width: 100%; }
  #partypixContainer .rightcol .box.abo .left .img img {
    width: 145px;
    height: 115px; }
  #partypixContainer .rightcol .box.abo .right {
    width: 130px; }
  #partypixContainer .rightcol .box.eventsearch {
    position: relative; }
    #partypixContainer .rightcol .box.eventsearch select {
      display: block; }
    #partypixContainer .rightcol .box.eventsearch .button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 107px;
      height: 20px;
      margin: 10px 0 0 0;
      float: right;
      background: url("../img/btn_search.png") no-repeat; }
  #partypixContainer .rightcol .box.moreShots .thumbs img {
    margin-bottom: 10px;
    width: 94px;
    height: 70px; }
  #partypixContainer .rightcol .box.votes {
    position: relative; }
    #partypixContainer .rightcol .box.votes .message {
      margin: 10px 0 0 0; }
    #partypixContainer .rightcol .box.votes .button {
      width: 107px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
      background: url("../img/btn_search.png") no-repeat; }

.fancybox-title {
  font-family: Arial;
  font-size: 12px;
  color: #6f6f6f; }
  .fancybox-title .socialbar {
    float: right;
    width: 553px; }
  .fancybox-title .download-container {
    float: left;
    padding: 0 20px 0 20px;
    background: url("../img/download.png") no-repeat 0 3px; }
  .fancybox-title .email-container {
    float: left;
    padding: 0 20px 0 25px;
    background: url("../img/email.png") no-repeat 0 2px; }

/*************** */
/** index page */
/*************** */
.showboxGallery {
  position: relative; }
  .showboxGallery .description {
    position: absolute;
    top: 261px;
    left: 133px;
    width: 198px;
    height: 40px;
    background: url("../img/showbox_txt_layer.png") transparent;
    z-index: 100;
    color: #d9d9d9;
    padding: 10px;
    line-height: 15px; }
  .showboxGallery .shadow {
    position: absolute;
    height: 360px;
    width: 480px;
    z-index: 99;
    background: url("../img/showbox_shadow.png") transparent; }

.galleryThumbs .gallery {
  margin-bottom: 22px; }
  .galleryThumbs .gallery h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999966; }
  .galleryThumbs .gallery h3 {
    font-weight: bold;
    font-size: 14px; }

.button.moreGalleries {
  width: 107px;
  height: 20px;
  width: 177px;
  background: url("../img/more_galeries.png") no-repeat; }

.gallery.topvotes {
  margin-top: 28px; }
  .gallery.topvotes .thumbs {
    margin-top: 16px; }
